.giveAwayHeader {
  .heroContainer {
    .header__info {
      padding: $space-base*25 $space-base*15 $space-base*17;

      .separator {
        margin-bottom: $space-base*2;
      }

      .fourSimpleStep__title {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: $space-base*6;

      }

      .fourSimpleStep__container {
        display: flex;
        width: 100%;
        justify-content: center;
      }

      .step__square {
        position: relative;
        width: 9.375rem;
        height: 9.375rem;

        &:not(:last-child) {
          margin-right: $space-base*2.5;
        }

        .step__number {
          font-size: 2rem;
          font-weight: 300;
          margin-bottom: $space-base;
        }

        .step__text {
          font-size: 1.375rem;
          font-weight: 300;
        }

        .step__rotate {
          transform: rotate(45deg);
          width: 9.375rem;
          height: 9.375rem;
          border: 1px solid $primary-color2;
          position: absolute;
          top: 0;
        }

      }
    }
  }

}