.btn {
  padding: 0.4rem 1rem;
  color: $primary-color2;
  background: white;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover,
  &:active {
    border: 1px solid $primary-color2;
  }

}

.btn-active {
  border: 1px solid $primary-color;
}

.btn-yellow {
  border-color: $secondary-color2;
}

.btn-big {
  font-size: 2.25rem;
  font-weight: 300;
}