form {
  label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: $space-base;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1px solid $primary-color2;
    background: none;
    padding: 0 0 3px 0;

    &.invalid {
      border-bottom: 1px solid red;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $primary-color2;
    }
  }

  textarea {
    resize: none;
  }
}