.headerContainer {
  //background-image: url("../assets/Hero Image@2x.png");
    width: 100%;
  text-align: end;


  .navBox {
    position: absolute;
    right: 0;
    margin: $space-base*2 $space-base*4;
    z-index: 10;
  }

  .heroContainer {
    display: flex;
    justify-content: end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 900px bottom;
  }

  .header__info {
    text-align: center;
    padding: $space-base*25 $space-base*15 $space-base*20;

    a:not(:last-child) {
      margin-right: 5%;
    }

    .welcome-text {
      font-size: 2.375rem;
      font-weight: 400;
      margin-bottom: $space-base*2;
    }

    .separator {
      margin: 0 auto $space-base*5;
    }

    button {
      width: 45%;
    }
  }

}
